---
layout: default
---

{% if paginator.page == 1 %}
  {% include hero-post.html %}
{% else %}
  {% include hero-heading.html title="CodeCarrot Blog" pagination=true %}
{% endif %}

{% include subnav.html %}

{% if paginator.page > 1 %}
  {% include pagination.html %}
{% endif %}

<div class="container">
	<ul class="cards-container">

		{% for post in paginator.posts %}
		{% include card.html url=post.url image=post.image category=post.categories title=post.title description=post.description author=post.author content=post.content %}
		{% endfor %}

	</ul>
</div>

{% include pagination.html %}
