<div id="subscribe">
	<div class="container">
		{% include subscribe.html %}
	</div>
</div>

<footer>
	<div class="container">
		<a class="codecarrot-logo" href="https://www.codecarrot.net/" target="_blank"></a>
		<p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> CodeCarrot Technologies</p>
		<ul class="footer-nav">

			<li>
				<a href="https://www.codecarrot.net">CodeCarrot</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="https://www.codecarrot.net/services">Services</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="https://www.codecarrot.net/clients">Clients</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="https://www.codecarrot.net/about">About us</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="/">Blog</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="/want-to-write-for-us">Write for Us?</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="/feed.xml">RSS Feed</a>
			</li>
		</ul>

		<ul class="footer-social">
			{% for social in site.data.social %}
				<li>
					<a target="_blank" href="{{ social.url }}">
						<img src="/assets/img/icons/{{ social.filename }}.svg" alt="{{ social.name }}">
					</a>
				</li>
			{% endfor %}
		</ul>

	</div>
</footer>
<div class="footer-stripe"></div>

<!-- Footer scripts -->
{% include scripts.html %}
