<section>
  <div class="pagination">
    <div class="container">

      <!-- Previous Button -->
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="page-numbers">Previous</a>
      {% else %}
        <span style="display: none" class="page-numbers current">Previous</span>
      {% endif %}

      <!-- Previous Page Button -->
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="page-numbers">{{ paginator.previous_page }}</a>
      {% else %}
        <span style="display: none" class="page-numbers current">{{ paginator.previous_page }}</span>
      {% endif %}

      <!-- Current Page Button -->
      <span class="page-numbers current">{{ paginator.page }}</span>

      <!-- Next Page Button -->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="page-numbers">{{ paginator.next_page }}</a>
      {% else %}
        <span style="display: none" class="page-numbers current">{{ paginator.next_page }}</span>
      {% endif %}

      <!-- <span class="page-numbers dots">...</span>
      <a href="/page/{{ paginator.total_pages }}/" class="page-numbers">{{ paginator.total_pages }}</a> -->

      <!-- Next Button -->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="page-numbers">Next</a>
      {% else %}
        <span style="display: none" class="page-numbers current">Next</span>
      {% endif %}

    </div>
  </div>
</section>
