<div class="subnav">
	<div class="container">
		<ul class="subnav-list">
			<li>
				<a href="http://blog.codecarrot.net/">All</a>
			</li>
			<li>
				<a href="http://blog.codecarrot.net/category/design/">Design</a>
			</li>
			<li>
				<a href="http://blog.codecarrot.net/category/development/">Development</a>
			</li>
			<li>
				<a href="http://blog.codecarrot.net/category/business/">Business</a>
			</li>
			<li>
				<a href="http://blog.codecarrot.net/category/growth/">Growth</a>
			</li>
			<li>
				<a href="http://blog.codecarrot.net/category/podcast/">Podcast</a>
			</li>
		</ul>
	</div>
</div>