@media (max-width: 768px)

  .footer-container
    padding: 45px 20px 65px

  .footer-list
    float: none
    margin: 20px 0
    text-align: center

  .footer-junk
    text-align: center

@media (min-width: 769px)

  .footer-container
    padding: 70px 0

  .footer-nav, .footer-junk
    max-width: 1048px
    padding: 0 20px
    margin: 0 auto

  .footer-item
    margin: 20px 0

  .footer-list
    display: inline-block

.footer-container
  background: #f6f9fa
  clear: both

.footer-item
  text-align: center

.footer-item a
  text-decoration: none
  margin: 0 10px 0 0
  color: #2e353b

.footer-item a:hover
  color: #00d664

.footer-list
  list-style: none
  transition: 0.3s ease
  font:
    size: 20px
    weight: bold

.footer-junk
  color: #576366
  font-size: 15px
  text-align: center