/*
 * Use the gist to give the color to your code you want to show on the website.
 * Use this raw link to import this file to your project.
 *
 * @import 'https://gist.githubusercontent.com/mittalyashu/f0cfea0d91edc2f5931dff1a5f6cadd0/raw/8cba80a4f2c077a65ef4b621b898d836c49cb99c/syntax.css';
 */

.highlight .c { color: #75715e; } /* Comment */
.highlight .cm { color: #75715e; } /* Comment.Multiline */
.highlight .cp { color: #75715e; } /* Comment.Preproc */
.highlight .c1 { color: #75715e; } /* Comment.Single */
.highlight .cs { color: #75715e; } /* Comment.Special */

.highlight .err { color: #960050; background-color: #1e0010; } /* Error */

.highlight .gd { color: #f92672; } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */

.highlight .hll { background-color: #49483e }

.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .k { color: #66d9ef; } /* Keyword */
.highlight .kc { color: #66d9ef; } /* Keyword.Constant */
.highlight .kd { color: #66d9ef; } /* Keyword.Declaration */
.highlight .kn { color: #f92672; }
.highlight .kp { color: #66d9ef; } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef; } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef; } /* Keyword.Type */

.highlight .l { color: #ae81ff }
.highlight .ld { color: #e6db74 }

.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .mf { color: #ae81ff; } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff; } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff; } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff; } /* Literal.Number.Oct */

.highlight .n { color: #f8f8f2 }
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e; } /* Name.Class */
.highlight .nd { color: #a6e22e }
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e; } /* Name.Exception */
.highlight .nf { color: #a6e22e; } /* Name.Function */
.highlight .nl { color: #f8f8f2 }
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nt { color: #f92672; } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .nx { color: #a6e22e; }

.highlight .o { color: #f92672; } /* Operator */
.highlight .ow { color: #f92672 } /* Operator.Word */

.highlight .p { color: #f8f8f2; }
.highlight .py { color: #f8f8f2 }

.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74; } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74; } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74; } /* Literal.String.Other */
.highlight .sr { color: #e6db74; } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74; } /* Literal.String.Single */
.highlight .ss { color: #e6db74; } /* Literal.String.Symbol */

.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */

.highlight .w { color: #f8f8f2 } /* Text.Whitespace */