.tag-bar
  list-style: none
  margin-left: 0
  margin-top: 40px
  padding: 0 !important

  li
    display: inline-block
    margin-right: 10px
    margin-bottom: 15px
    margin-top: 15px

    a
      border: 2px solid #eaedee
      border-radius: 5px
      padding: 8px 22px
      color: #3e474f
      font-size: 16px
      margin: 5px 0
      transition: 0.3s

      &:hover
        border: 2px solid darken(#d3d9dd, 5%)
        color: darken(#3e474f, 5%)
