
.post-header
	margin: 0 auto
	width: 100%
	overflow: hidden
	text-align: center
	background:
		size: cover
		position: 50%
	position: relative

	&:before
		content: ""
		background-color: rgba($gray-100, 0.5)
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1

	.container
		z-index: 2
		position: relative

		a
			text-transform: uppercase
			color: $white

			&:hover
				font-weight: $serif-font-weight-bold

		h1
			color: $white
			margin-top: 15px
			font-weight: $serif-font-weight-bold

// About Author

.post-authors
	text-align: center

	img
		width: 85px
		height: 85px
		border-radius: 85px
		padding: 3px
		border: 2px solid $gray-200

	.post-author-detail
		margin: 5px 0 20px

		span
			display: block
			font:
				size: $font-size
				weight: $serif-font-weight-bold

		p
			font:
				size: $font-size * .99
				style: italic
			padding-bottom: 10px
			border-bottom: 2px solid darken($gray-50, 5%)
