
 <html>
	<head>

		{% include meta.html %}

	</head>

	<body>

		{% include navigation.html %}

		<div style="background-image: url(//blog.codecarrot.net/images/{{page.image}})" class="post-header">

			<div class="container">
				<p>
					<a href="/category/{{ page.categories }}">{{ page.categories }}</a>

				</p>
				<h1>{{page.title}}</h1>
			</div>
		</div>

		<div class="container">
			<main class="article">

				<div class="post-authors">
					{% if page.author %}
						{% include author/{{page.author}}.html %}
					{% else %}
						{% include author/codecarrot.html %}
					{% endif %}
				</div>

				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_inline_share_toolbox"></div>

				{{content}}

				{% include tag-bar.html %}

				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_relatedposts_inline"></div>

			</main>
		</div>

		<div class="comment-section">
			<div class="container">
				<div class="comments">
					<h3>Response to “{{page.title}}”</h3>

					<div id="disqus_thread"></div>
					<script>

					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
					/*
					var disqus_config = function () {
					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://codecarrot.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
				</div>
			</div>
		</div>

		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-590a3c202dedf7a6"></script>

		{% include footer.html %}
	</body>
</html>
